body {
    background: #111113;
    max-width: 1216px;
    margin: 0 auto;
    padding: 1.25rem 0;
    color: #fbfbfb;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-family: 'Poppins', sans-serif;
}